.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: none!important;
}
html {
    background: #121115cc;
}
html body{
	background: #ffffff!important;
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
}
.card {
    border: 0;
    margin-bottom: 0px!important;
    margin-top: 25px!important;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.logo-img {
    width: 45%;
}
.btn-02 {
	color: #fff;
	background-color: #e71000f7;
	border-color: #e71000f7;
	text-transform: capitalize;
	border: none;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
	font-size: 20px;
}
@media only screen and (max-width: 480px){
	.card .img {
		width: 160px;
		height: 160px;
		opacity: 0.50;
		background-color: #333;
	}
	.img-overlay{
		background-color: #333;
		opacity: 0.90;
		border-radius: 5px;
	}
	.main .card p {
		position: absolute;
		top: 70px;
		color: #ffff;
		font-weight: 400;
		font-size: 19px;
		z-index: 111;
	}
	/* buttons */
	.btn-02 {
		color: #fff;
		background-color: #e71000f7;
		border-color: #e71000f7;
		text-transform: capitalize;
		border: none;
		border-radius: 4px;
		padding: 10px;
		width: 100%;
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px){
		html {
			background: #ffffff;
		}
		.logo-img{
			max-width: 200px;
		}
		.overlay{
			position:absolute;
			z-index: 1111;
		}
		 .search-icon {
			position: absolute;
			right: 0;
			top: 80px;
		}
		.logo-icon{
			font-weight: 500;
			font-size: 20px;
		}
		.h4-01{
			font-weight: 500;
			font-size: 18px;
		}
		.p-01{
			font-weight: 500;
			opacity: 0.8;
			font-size: 15px;
		}
		.img-resposive {
			max-width: 100%;
			height: auto;
			vertical-align: middle;
			border-radius: 4px;
		}
		img{
			max-width: 100%;
			height: auto;
			vertical-align: middle;
			border-radius: 4px;
		}
		.mt-01{
			margin-top: -50px;
		}
		.mt-02{
			margin-top: 10px;
		}
		.mt-02 p{
			font-weight: 500;
    		font-size: 18px;
		}
		.mt-03{
			    margin-top: 30px;
		}
		.p-share{
			font-size: 18px;
			padding-left: 10px;
			font-weight: 400;
		}
		.p-02 .navbar {
			margin-bottom: 0px!important;
			padding: 20px 30px;
			box-shadow: 0 4px 18px 0px rgb(0 0 0 / 12%), 0 7px 10px -5px rgb(0 0 0 / 15%);
		}
		.p-02{
			padding-right: 0px!important;
			padding-left: 0px!important;
			position: fixed!important	;
			bottom: 0;
		}
		.p-03{
			position: absolute;
			bottom: -10px;
			font-weight: 500;
			font-size: 16px;
			margin-left: -6px;
		}
		.icon{
			font-size: 30px;
			color: #f44336!important;
			
		}
		.ml{
			margin-left: 80px;
		}
		
		/* Services Cards */
		.row .card {
			margin: auto;
			border-radius: 10px;
			width: auto;
			box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
		}
		/* .card .img{
			width:180px; 
			height:190px;
		} */
		/* .main .card p{
			position: absolute;
			top: 70px;
			color: #ffff;
			font-weight: 400;
			font-size: 19px;
			z-index: 111;
		} */
		.card img{
			border-radius: 8px;
			background: black;
		}

		/* buttons */
		/* .btn-02 {
			color: #fff;
			background-color: #e71000f7;
			border-color: #e71000f7;
			text-transform: capitalize;
			border: none;
			border-radius: 4px;
			padding: 10px;
			width: 100%;
			font-size: 20px;
		} */

		.btn-01{
			padding: 10px 15px!important;
		}
		/* Venue */
		
		.bg{
			background-image:url('../img/venuesbanner.png');
			background-size: cover;
			height: 45vh;
			border-radius: 4px;
		}
		.bg:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}
		.btn-call-me{
			position: absolute;
			right: 10px;
			top: 12px;
			z-index: 1111;
		}
		.btn-call-me .btn.btn-primary {
			color: #fff;
			background-color: #e71000f7;
			border-color: #e71000f7;
			text-transform: capitalize;
		}
		.mt-10{
			margin-top:200px;
		}
		.mt-10 h3{
			color: #fff;
			font-weight: 500
		}
		.mt-10 p{
			color: #fff;
			font-weight: 400;
			font-size:18px;
			margin-top: -8px;
		}
		.form-group {
			margin-bottom: 0px!important;
		}
		.count-venues{
			background: #fff;
			padding: 30px;
		}
		.count-venues span{
			color: #6c757d;
			letter-spacing: 1px;
		}
		.line-bottom{
			border-bottom: 5px solid #ff0101;
			width: 30px;
			position: absolute;
			left: 46%;
		}
		.d-flex .round{
			background: #eef0f2;
			padding: 15px;
			border-radius: 50px;
		}
		.p-review{
			color: #333;
			font-weight: 500;
			padding-left: 25px;
		}
		.position{
			position:fixed;
		}
		/* Photographer page css */
		.bg-01{
			border-radius: 4px;
			/* height: 60vh;
			background-color: #000000;
			opacity: 0.70; */
		}
		.bg-01:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: auto;
			width: 100%;
		}
		.mt-9 {
			margin-top: 120px;
		}
		.mt-9 h3 {
			color: #fff;
			font-weight: 400;
			line-height: 40px;
		}
		.mt-9 p {
			color: #fff;
			font-weight: 400;
			font-size: 18px;
			margin-top: -8px;
		}

		/* makeup page css */
		.bg-02{
			background-image:url('../img/makeup04.jpg');
			background-size: cover;
			height: 60vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-02:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}
		/* mahendi page css */
		.bg-03{
			background-image:url('../img/mehendi04.jpg');
			background-size: cover;
			background-position: center;
			height: 60vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-03:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}
		/* band baja page css */
		.bg-04{
			background-image:url('../img/band.jpg');
			background-size: cover;
			background-position: center;
			height: 60vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-04:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}
		/* decoration page css */
		.bg-05{
			background-image:url('../img/decoration01.jpg');
			background-size: cover;
			background-position: center;
			height: 60vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-05:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}

		/* transport page css */
		.bg-06{
			background-image:url('../img/transport01.jpg');
			background-size: cover;
			background-position: center;
			height: 50vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-06:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}

		/* wedding planning page css */
		.bg-07{
			background-image:url('../img/weddingz.jpg');
			background-size: cover;
			background-position: center;
			height: 60vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-07:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}

		/* wedding dj css */
		.bg-08{
			background-image:url('../img/dj-01.jpg');
			background-size: cover;
			background-position: center;
			height: 60vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-08:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}

		/* wedding dj css */
		.bg-09{
			background-image:url('../img/caterers-01.jpg');
			background-size: cover;
			background-position: center;
			height: 60vh;
			border-radius: 4px;
			background-color: #212529;
		}
		.bg-09:after {
			content: "";
			background: #00000096;
			opacity: .90;
			display: block;
			/* z-index: 3; */
			position: relative;
			height: 100%;
			width: 100%;
		}

		.serial_number {
			background: #bb0000;
			color: #fff;
			height: 50px;
			width: 50px;
			display: inline-block;
			font-size: 0.8em;
			margin-right: 10px;
			padding-top: 10px;
			line-height: 30px;
			text-align: center;
			text-shadow: 0 1px 0 rgb(255 255 255 / 20%);
			border-radius: 50px;
		}

		/* content page */
		.h4-02{
			font-weight: 500;
		}

		li{
			font-size: 18px;
			font-weight: 400;
			/* list-style: none; */
		}
		.mt-05 {
			margin-top: 8rem !important;
		}
		.mt-06 {
			margin-top: 5rem !important;
		}
		.heading-01{
			font-size: 17px;
			font-weight: 400;
			opacity: 0.70;
		}
		.border-1{
			border: 2px solid #e9ecef87 !important;
		}
	}

/* Swiper */

  .mobile-container {
	overflow: hidden;
	width: 100%;
	/* max-width: 375px;
	border-radius: 26px; */
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	/* -webkit-box-shadow: 0px 20px 30px -30px #202637;
	-moz-box-shadow: 0px 20px 30px -30px #202637;
	box-shadow: 0px 20px 30px -30px #202637; */
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
  }

  .slider-element-container {
	position: relative;
	z-index: 2;
	height: calc(100% - 67px);
	padding-bottom: 25px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
  }
  .slider-element-container .swiper-container {
	width: 100%;
	padding: 0px 20px 40px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 50px!important;
    left: 0;
    width: 100%;
}
  .slider-element-container .swiper-pagination-bullet {
	background-color: rgba(255, 255, 255, 0.9);
  }
  .slider-element-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #F02B67;
  }
  .slider-element-container .swiper-slide {
	width: 100%;
	background-color: #FFF;
	border-radius: 8px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0.3;
	height: 100%;
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
  }

  .slider-element-container .swiper-slide.swiper-slide-active {
	opacity: 1;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  .slider-element-container .swiper-slide.swiper-slide-active .content {
	opacity: 1;
  }
  @media screen and (max-height: 670px) {
	.mobile-container {
	  -moz-transform: scale(0.7);
	  -ms-transform: scale(0.7);
	  -o-transform: scale(0.7);
	  -webkit-transform: scale(0.7);
	  transform: scale(0.7);
	}
  }
  .infobox-container {
	display: none;
  }
  @media screen and (min-width: 1024px) {
	.infobox-container {
	  display: block;
	  position: absolute;
	  right: 50px;
	  bottom: 50px;
	  z-index: 99;
	}

	
	.infobox-container .infobox-detail-container.active {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	}
	.infobox-container .infobox-detail-container ul li a:hover {
	  background-color: #E48873;
	  color: #FFF;
	}
  }

  .main-content {
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
  }